@{
    Layout = "_Layout";
}

<div class="mainpage">



	<div class="cardcontainer">

		<div id="action" class="card" style="width: 18rem;">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
				<h3 class="card-title">Action</h3>
			</div>
		</div>

		<div class="card w-25" id="action"> 
			<img src="/img/action.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h3 class="card-title">Action</h3>
			</div>
		</div>
		



	</div><!--cardcontainer-->
	action
adventure
compilation
puzzle
racing/driving
role playing
simulation
sports
strategy
</div><!--mainpage-->

