<!DOCTYPE html>
<html>
<head>
    <link href="css/homestyles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="hero-image">
        <div class="hero-text">
            <a href="/search">
            <h1>GameBuster</h1>
            <p>Find Your Game</p>
            <h1>Enter Now</h1>
        </div>
        </a>

    </div><!-- closes hero image -->
</body>
</html>