<!DOCTYPE html>
<html>
<head>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<section class="pagehead">
    <div class="headtext">
        <h1>GameBuster<span>
        <br>
        Find Your Game</span></h1>
    </div>
</section>


<section class="slideshow">
    <div class="content">
        <div class="content-carousel">
            <figure class="shadow"><img src ="/img/anthem.png"></figure>
            <figure class="shadow"><img src ="/img/assassincreed.jpg"></figure>
            <figure class="shadow"><img src ="/img/callofduty.png"></figure>
            <figure class="shadow"><img src ="/img/devilmaycry.jpg"></figure>
            <figure class="shadow"><img src ="/img/farcry.jpg"></figure>
            <figure class="shadow"><img src ="/img/godofwar.png"></figure>
            <figure class="shadow"><img src ="/img/metroexodus.jpg"></figure>
            <figure class="shadow"><img src ="/img/nba2k19.jpg"></figure>
            <figure class="shadow"><img src ="/img/reddead.png"></figure>
        </div><!-- closes content carousel div -->
    </div><!-- closes content div -->
</section>

<section class="pagebottom">
    <div class="link">
        <h3><a href="">Enter Site</a></h3>
    </div>
</section>
</body>
</html>