<!DOCTYPE html>
<html>
  <head>
    <title>GameBuster Search Engine</title>
    <link rel="stylesheet" href="~/css/layoutstyles.css">
  </head>
<body>
<div class="sidenav">
    <a href="">Main Search</a>
    <a href="">Browse by Title </a>
    <a href="">Browse by Platform </a>
    <a href="">Browse by Release Date </a>
    <a href="">Browse by Genre </a>
    <a href="">Browse by Rating </a>
    <a href="">Browse by Engine </a>

    @RenderBody();
</div>

</body>

</html>