<!DOCTYPE html>
<html>
  <head>
    <title>GameBuster Search Engine</title>
    <link rel="stylesheet" href="~/css/layoutstyles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
<body>
  <div class="sidenav">
      <a href="/search">Main Search</a>
      <a href="/title">Browse by Title </a>
      <a href="/platform">Browse by Platform </a>
      <a href="/releasedate">Browse by Release Date </a>
      <a href="genre">Browse by Genre </a>
      <a href="rating">Browse by Rating </a>
      <a href="engine">Browse by Engine </a>
  </div>
  <div class="page-content">
    @RenderBody();
  </div>


</body>

</html>