@{
    Layout = "_Layout";
}

<div class="page-body">
	<section class="pagetop">
		<h1>Platforms</h1>
	</section>
	<section class="details-card">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="card-content">
						<a href="platform/">
						<div class="card-img">
							<img src="/img/mac.jpeg" alt="">
							<span><h3>Mac</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
				<div class="col-md-4">
					<div class="card-content">
						<a href="platform/">
						<div class="card-img">
							<img src="/img/NES.jpeg" alt="">
							<span><h3>NES</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
				<div class="col-md-4">
					<div class="card-content">
						<a href="platform/">
						<div class="card-img">
							<img src="/img/ps1.jpeg" alt="">
							<span><h3>Playstation 1</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
			</div><!-- closes row -->

			<div class="row">
				<div class="col-md-4">
					<div class="card-content">
						<a href="platform/">
						<div class="card-img">
							<img src="/img/ps2.jpeg" alt="">
							<span><h3>Playstation 2</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
				<div class="col-md-4">
					<div class="card-content">
						<a href="platform/">
						<div class="card-img">
							<img src="/img/ps3.jpeg" alt="">
							<span><h3>Playstation 3</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
				<div class="col-md-4">
					<div class="card-content">
						<a href="platform/">
						<div class="card-img">
							<img src="/img/ps4.jpeg" alt="">
							<span><h3>Playstation 4</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
			</div><!-- closes row -->

			<div class="row">
				<div class="col-md-4">
					<div class="card-content">
						<a href="platform/">
						<div class="card-img">
							<img src="/img/windows.jpeg" alt="">
							<span><h3>Windows</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
				<div class="col-md-4">
					<div class="card-content">
						<a href="platform/">
						<div class="card-img">
							<img src="/img/SNES.jpeg" alt="">
							<span><h3>Super Nintendo</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
				<div class="col-md-4">
					<div class="card-content">
						<a href="platform/">
						<div class="card-img">
							<img src="/img/xbox.jpeg" alt="">
							<span><h3>Xbox</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
			</div><!-- closes row -->

            <div class="row">
				<div class="col-md-4">
					<div class="card-content">
						<a href="platform/">
						<div class="card-img">
							<img src="/img/wii.jpg" alt="">
							<span><h3>Wii</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
				<div class="col-md-4">
					<div class="card-content">
						<a href="platform/">
						<div class="card-img">
							<img src="/img/xbox360.jpeg" alt="">
							<span><h3>Xbox 360</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
				<div class="col-md-4">
					<div class="card-content">
						<a href="platform/">
						<div class="card-img">
							<img src="/img/xboxone.jpeg" alt="">
							<span><h3>Xbox One</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
			</div><!-- closes row -->

            <div class="row">
				<div class="col-md-4">
					<div class="card-content">
						<a href="platform/">
						<div class="card-img">
							<img src="/img/gameboycolor.jpeg" alt="">
							<span><h3>GameBoy Color</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
				<div class="col-md-4">
					<div class="card-content">
						<a href="platform/">
						<div class="card-img">
							<img src="/img/switch.jpeg" alt="">
							<span><h3>Switch</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
				<div class="col-md-4">
					<div class="card-content">
						<a href="platform/">
						<div class="card-img">
							<img src="/img/n64.png" alt="">
							<span><h3>Nintendo 64</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
			</div><!-- closes row -->

		</div><!-- closes container -->
	</section> <!-- closes section -->
</div><!--page-body-->