@{
    Layout = "_Layout";
}
<div class="page-body">
	<section class="pagetop">
		<h1>Platforms</h1>
	</section>
	<section class="details-card">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="card-content">
						<a href="genre/action">
						<div class="card-img">
							<img src="/img/action.png" alt="">
							<span><h3>Action</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
				<div class="col-md-4">
					<div class="card-content">
						<a href="genre/adventure">
						<div class="card-img">
							<img src="/img/adventure.png" alt="">
							<span><h3>Adventure</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
				<div class="col-md-4">
					<div class="card-content">
						<a href="genre/compilation">
						<div class="card-img">
							<img src="/img/compilation.png" alt="">
							<span><h3>Compilation</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
			</div><!-- closes row -->

			<div class="row">
				<div class="col-md-4">
					<div class="card-content">
						<a href="genre/puzzle">
						<div class="card-img">
							<img src="/img/puzzle.png" alt="">
							<span><h3>Puzzle</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
				<div class="col-md-4">
					<div class="card-content">
						<a href="genre/racingdriving">
						<div class="card-img">
							<img src="/img/racingdriving.png" alt="">
							<span><h3>Racing</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
				<div class="col-md-4">
					<div class="card-content">
						<a href="genre/roleplaying">
						<div class="card-img">
							<img src="/img/roleplaying.png" alt="">
							<span><h3>RPG</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
			</div><!-- closes row -->

			<div class="row">
				<div class="col-md-4">
					<div class="card-content">
						<a href="genre/simulation">
						<div class="card-img">
							<img src="/img/simulation.png" alt="">
							<span><h3>Simulation</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
				<div class="col-md-4">
					<div class="card-content">
						<a href="genre/sports">
						<div class="card-img">
							<img src="/img/sports.png" alt="">
							<span><h3>Sports</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
				<div class="col-md-4">
					<div class="card-content">
						<a href="genre/strategy">
						<div class="card-img">
							<img src="/img/strategy.png" alt="">
							<span><h3>Strategy</h3></span>
							</a>
						</div> <!-- closes card img -->
					</div> <!-- closes card content -->
				</div><!-- closes col -->
			</div><!-- closes row -->

		</div><!-- closes container -->
	</section> <!-- closes section -->
</div><!--page-body-->