@{
    Layout = "_Layout";
}
<div class="page-body">

    <section class="page-top">
        <h1>GameBuster</h1>
    </section>

    <section class="search-section">
        <div class="container">
            <form action="/search/results">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                                <input type="text" class="form-control search-slt" placeholder="Search the Database">
                            </div> <!-- closes col -->

                            <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                                <select class="form-control search-slt" id="exampleFormControlSelect1">
                                    <option>Select Genre</option>
                                    <option>Any</option>
                                    <option>Action</option>
                                    <option>Adventure</option>
                                    <option>Compilation</option>
                                    <option>Puzzle</option>
                                    <option>Racing</option>
                                    <option>RPG</option>
                                    <option>Simulation</option>
                                    <option>Sports</option>
                                    <option>Strategy</option>
                                </select>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                                <select class="form-control search-slt" id="exampleFormControlSelect1">
                                    <option>Select Platform</option>
                                    <option>Any</option>
                                    <option>GameBoy Color</option>
                                    <option>Mac</option>
                                    <option>NES</option>
                                    <option>Nintendo 64</option>
                                    <option>PS1</option>
                                    <option>PS2</option>
                                    <option>PS3</option>
                                    <option>PS4</option>
                                    <option>SNES</option>
                                    <option>Switch</option>
                                    <option>Wii</option>
                                    <option>Windows</option>
                                    <option>Xbox</option>
                                    <option>Xbox 360</option>
                                    <option>Xbox One</option>
                                </select>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                                <select class="form-control search-slt" id="exampleFormControlSelect1">
                                    <option>From Year</option>
                                    <option>Any</option>
                                    <option>1976</option>
                                    <option>1977</option>
                                    <option>1978</option>
                                    <option>1979</option>
                                    <option>1980</option>
                                    <option>1981</option>
                                    <option>1982</option>
                                    <option>1983</option>
                                    <option>1984</option>
                                    <option>1985</option>
                                    <option>1986</option>
                                    <option>1987</option>
                                    <option>1988</option>
                                    <option>1989</option>
                                    <option>1990</option>
                                    <option>1991</option>
                                    <option>1992</option>
                                    <option>1993</option>
                                    <option>1994</option>
                                    <option>1995</option>
                                    <option>1996</option>
                                    <option>1997</option>
                                    <option>1998</option>
                                    <option>1999</option>
                                    <option>2000</option>
                                    <option>2001</option>
                                    <option>2002</option>
                                    <option>2003</option>
                                    <option>2004</option>
                                    <option>2005</option>
                                    <option>2006</option>
                                    <option>2007</option>
                                    <option>2008</option>
                                    <option>2009</option>
                                    <option>2010</option>
                                    <option>2011</option>
                                    <option>2012</option>
                                    <option>2013</option>
                                    <option>2014</option>
                                    <option>2015</option>
                                    <option>2016</option>
                                    <option>2017</option>
                                    <option>2018</option>
                                    <option>2019</option>
                                </select>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                                <select class="form-control search-slt" id="exampleFormControlSelect1">
                                    <option>To Year</option>
                                    <option>Any</option>
                                    <option>1976</option>
                                    <option>1977</option>
                                    <option>1978</option>
                                    <option>1979</option>
                                    <option>1980</option>
                                    <option>1981</option>
                                    <option>1982</option>
                                    <option>1983</option>
                                    <option>1984</option>
                                    <option>1985</option>
                                    <option>1986</option>
                                    <option>1987</option>
                                    <option>1988</option>
                                    <option>1989</option>
                                    <option>1990</option>
                                    <option>1991</option>
                                    <option>1992</option>
                                    <option>1993</option>
                                    <option>1994</option>
                                    <option>1995</option>
                                    <option>1996</option>
                                    <option>1997</option>
                                    <option>1998</option>
                                    <option>1999</option>
                                    <option>2000</option>
                                    <option>2001</option>
                                    <option>2002</option>
                                    <option>2003</option>
                                    <option>2004</option>
                                    <option>2005</option>
                                    <option>2006</option>
                                    <option>2007</option>
                                    <option>2008</option>
                                    <option>2009</option>
                                    <option>2010</option>
                                    <option>2011</option>
                                    <option>2012</option>
                                    <option>2013</option>
                                    <option>2014</option>
                                    <option>2015</option>
                                    <option>2016</option>
                                    <option>2017</option>
                                    <option>2018</option>
                                    <option>2019</option>
                                </select>
                            </div> 
                            <button type="submit">Search</submit>

                        </div><!-- closes row -->
                    </div> <!-- closes 12 col -->
                </div><!-- closes row -->
            </form> <!-- closes closes form -->
        </div><!-- closes containter -->
    </section>

    <section class="slideshow">

        <div class="content">
            <div class="carousel-text">
                <p>Games of the Month</p>
            </div>
            <div class="content-carousel">
                <figure class="shadow"><img src ="/img/anthem.png"></figure>
                <figure class="shadow"><img src ="/img/assassincreed.jpg"></figure>
                <figure class="shadow"><img src ="/img/callofduty.png"></figure>
                <figure class="shadow"><img src ="/img/devilmaycry.jpg"></figure>
                <figure class="shadow"><img src ="/img/farcry.jpg"></figure>
                <figure class="shadow"><img src ="/img/godofwar.png"></figure>
                <figure class="shadow"><img src ="/img/metroexodus.jpg"></figure>
                <figure class="shadow"><img src ="/img/nba2k19.jpg"></figure>
                <figure class="shadow"><img src ="/img/reddead.png"></figure>
            </div><!-- closes content carousel div -->
        </div><!-- closes content div -->
    </section>


</div>