@{
    Layout = "_Layout";
}
<div class="page-body">

    <div class="floatRight" id="moveBottom">
        <img src="/img/mario_png.png" alt="" id="side-photo">
    </div>

    <section class="page-top">
        <h1 class="threeD">GameBuster</h1>
    </section>

    <section class="search-section">
        <div class="container">
            <form action="/search/results" method="post">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 p-0">
                                <input name="userInput" type="text" class="form-control search-slt" placeholder="Search">
                            </div>
                            <br>
                            <br>
                            
                        
                            <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                                <select name="genre" class="form-control search-slt" id="exampleFormControlSelect1">
                                    <option value="any">Select Genre</option>
                                    <option value="any">Any</option>
                                    <option value="Action">Action</option>
                                    <option value="Adventure">Adventure</option>
                                    <option value="Compilation">Compilation</option>
                                    <option value="Puzzle">Puzzle</option>
                                    <option value="Racing / Driving">Racing</option>
                                    <option value="Role-Playing (RPG)">RPG</option>
                                    <option value="Simulation">Simulation</option>
                                    <option value="Sports">Sports</option>
                                    <option value="Strategy/Tactics">Strategy</option>
                                </select>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                                <select name="platform" class="form-control search-slt" id="exampleFormControlSelect1">
                                    <option value="any">Select Platform</option>
                                    <option value="any">Any</option>
                                    <option value="Gameboy Color">GameBoy Color</option>
                                    <option value="Mac">Mac</option>
                                    <option value="NES">NES</option>
                                    <option value="Nintendo 64">Nintendo 64</option>
                                    <option value="Playstation">PS1</option>
                                    <option value="Playstation 2">PS2</option>
                                    <option value="Playstation 3">PS3</option>
                                    <option value="Playstation 4">PS4</option>
                                    <option value="SNES">SNES</option>
                                    <option value="Nintendo Switch">Switch</option>
                                    <option value="Wii">Wii</option>
                                    <option value="Windows">Windows</option>
                                    <option value="Xbox">Xbox</option>
                                    <option value="Xbox 360">Xbox 360</option>
                                    <option value="Xbox One">Xbox One</option>
                                </select>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                                <select name="yearStart" class="form-control search-slt" id="exampleFormControlSelect1">
                                    <option value="any">Year Released</option>
                                    <option value="any">Any</option>
                                    <option value="1976">1976</option>
                                    <option value="1977">1977</option>
                                    <option value="1978">1978</option>
                                    <option value="1979">1979</option>
                                    <option value="1980">1980</option>
                                    <option value="1981">1981</option>
                                    <option value="1982">1982</option>
                                    <option value="1983">1983</option>
                                    <option value="1984">1984</option>
                                    <option value="1985">1985</option>
                                    <option value="1986">1986</option>
                                    <option value="1987">1987</option>
                                    <option value="1988">1988</option>
                                    <option value="1989">1989</option>
                                    <option value="1990">1990</option>
                                    <option value="1991">1991</option>
                                    <option value="1992">1992</option>
                                    <option value="1993">1993</option>
                                    <option value="1994">1994</option>
                                    <option value="1995">1995</option>
                                    <option value="1996">1996</option>
                                    <option value="1997">1997</option>
                                    <option value="1998">1998</option>
                                    <option value="1999">1999</option>
                                    <option value="2000">2000</option>
                                    <option value="2001">2001</option>
                                    <option value="2002">2002</option>
                                    <option value="2003">2003</option>
                                    <option value="2004">2004</option>
                                    <option value="2005">2005</option>
                                    <option value="2006">2006</option>
                                    <option value="2007">2007</option>
                                    <option value="2008">2008</option>
                                    <option value="2009">2009</option>
                                    <option value="2010">2010</option>
                                    <option value="2011">2011</option>
                                    <option value="2012">2012</option>
                                    <option value="2013">2013</option>
                                    <option value="2014">2014</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                </select>
                            </div>
                            <br>
                            <br>
                            <button name="submit" type="submit" class="button-spacing">Search</button>
                        
                        </div><!-- closes row -->
                    </div> <!-- closes 12 col -->
                </div><!-- closes row -->   
            </form> <!-- closes closes form -->
         </div>
    </section>



        <div class="content">
            <div class="carousel-text">
                <h2 class="threeD topGamesMargin">Games of the Month</h2>
            </div>
            <div class="content-carousel">
                <figure class="shadow"><a href="/releasedate/5977"><img src ="/img/tonyhawksunderground.jpeg"></a></figure>
                <figure class="shadow"><a href="/releasedate/4921"><img src ="/img/pokemonsnap.jpg"></a></figure>
                <figure class="shadow"><a href="/releasedate/5499"><img src ="/img/smashtv.jpg"></a></figure>
                <figure class="shadow"><a href="/releasedate/4627"><img src ="/img/banjokazooie.jpg"></a></figure>
                <figure class="shadow"><a href="/releasedate/6261"><img src ="/img/halo2.jpg"></a></figure>
                <figure class="shadow"><a href="/releasedate/1403"><img src ="/img/mariokart.jpg"></a></figure>
                <figure class="shadow"><a href="/releasedate/4628"><img src ="/img/bomberman.jpg"></a></figure>
                <figure class="shadow"><a href="/releasedate/2680"><img src ="/img/metalslug.jpg"></a></figure>
                <figure class="shadow"><a href="/releasedate/3209"><img src ="/img/gta.jpg"></a></figure>
            </div><!-- closes content carousel div
        <!-- </div>closes content div -->



</div>