@using GameSearchEngine.Models;

@{
    Layout = "_Layout";
}

<div class="page-body">
    <div class="scrollable">
    @if (@Model.Count == 0)
    {
        <h1 class="center marginCenter">Your search returned no results!</h1>
        <h2 class="center"><a href="/search">Back to home page</a></h2>
    }
    @if (@Model.Count != 0)
    {
        <h1>Search results:</h1>
        <ul>
        @foreach (var game in Model)
        {
            <li><a href='/releasedate/@game.GetId()'>@game.GetYear() - @game.GetTitle() </a></li>
        }
        </ul>
    }
    </div>
</div>