@{
    Layout = "_Layout";
}
<div class="page-body">
    <br>
    <div class="scrollable">
        <div class='row'>
            <div class='col-md-4'>
                <h1>Title:</h1>
                <ul>
                    @foreach (var game in Model)
                    {
                        <li><a href='game/@game.GetId()'>@game.GetTitle()</a></li>
                    }
                </ul>
            </div>
            <div class='col-md-4'>
                <h1>Genre:</h1>
                <ul class='list-unstyled'>
                    @foreach (var game in Model)
                    {
                        <li>@game.GetGenre()</li>
                    }
                </ul>
                
            </div>
            <div class='col-md-4'>
                <h1>Rating:</h1>
                <ul class='list-unstyled'>
                    @foreach (var game in Model)
                    {
                        <li>@game.GetRating()</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
