@{
    Layout = "_Layout";
}
<div class="page-body">
    <br>
    <h1>List of All Available Titles:</h1>
    <br>
    <div class="scrollable">
        <ul>
            @foreach (var game in Model)
            {
                <li><a href='game/@game.GetId()'>@game.GetTitle()</a></li>
            }
        </ul>
    </div>
</div>