@{
    Layout = "_Layout";
}
<div class="page-body">
    <h1>List of All Available Titles:</h1>
    <ul>
        @foreach (var game in Model)
        {
            <li><a href='game/@game.GetId()'>@game.GetTitle()</a></li>
        }
    </ul>
    <h4><a href='/'>Back to Home Page</a></h4>
</div>