@using GameSearchEngine.Models;

<h1>Add a game to the database:</h1>

<form action='/AddGame' method='post'>
    <label for='title'>Game title:</label>
    <input id='title' name='title' type='text'>
    <label for='description'>Game Description:</label>
</form>