@using GameSearchEngine.Models;

@{
    Layout = "_Layout";
}
<div>
  <h1>That game has been added to the database.</h1>
  <a href="/search">Back to Search</a>
  <a href="/addgame">Add Another Game</a>
</div>