#dsc-toggle {
    display: none;
}

.table-column {
    position: static;
}

.scrollable {
    height: 1000px;
    overflow-y: auto;
}

.page-top {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#non-link {
    pointer-events: none;
    cursor: default;
  }

.showpage-content {
    text-align: center;
    margin-top: 30px;
}
.showpage-content img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.showpage-content p {
    margin-left: 300px;
    margin-right: 300px;
}

.showpage-content a {
    cursor: pointer;
    text-emphasis: bold;
}

.page-body {
    margin-left: 10px;
}

.card-img img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    cursor: pointer;
}

span h3 {
    text-align: center;
}

.card-content {
    padding-bottom: 10px;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
    cursor: pointer;
}


/*carousel*/

.content  {
    margin:auto;
    margin-top: 200px;
    width:190px;
    perspective: 1000px;
    position: relative;
    
}
.content-carousel {
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 15s infinite linear;
    transform-style: preserve-3d;
}

.content-carousel:hover {
    animation-play-state: paused;
}
.content-carousel figure {
    width:100%;
    height:120px;
    border: 1px solid #4d444d;
    overflow: hidden;
    position: absolute;
}

.content-carousel figure:nth-child(1){
    transform: rotateY(0deg) translateZ(300px);
}

.content-carousel figure:nth-child(2){
    transform: rotateY(40deg) translateZ(300px);
}

.content-carousel figure:nth-child(3){
    transform: rotateY(80deg) translateZ(300px);
}

.content-carousel figure:nth-child(4){
    transform: rotateY(120deg) translateZ(300px);
}

.content-carousel figure:nth-child(5){
    transform: rotateY(160deg) translateZ(300px);
}

.content-carousel figure:nth-child(6){
    transform: rotateY(200deg) translateZ(300px);
}

.content-carousel figure:nth-child(7){
    transform: rotateY(240deg) translateZ(300px);
}

.content-carousel figure:nth-child(8){
    transform: rotateY(280deg) translateZ(300px);
}

.content-carousel figure:nth-child(9){
    transform: rotateY(320deg) translateZ(300px);
}
.shadow{
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 2px;
}
.content-carousel img {
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
}

.content-carousel img:hover {
    transform: scale(1.2);
    transform: all 300ms;
}

@keyframes rotar {
    from{
        transform:rotateY(0deg)
    } to {
        transform:rotateY(360deg)
    }
}

a:hover {
    background-color: lightyellow;
    opacity: .7;
}

.row button {
    text-align: center;
}

/*end carousel */

/*sidebar */

.threeD {
    color: rgb(0, 0, 0);
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.topGamesMargin {
    margin-bottom: 25%;
    margin-left: 10%;
}

.center {
    text-align: center;
}

.marginCenter {
    margin-top: 20%;
}